body, html {
  background: #0f0618;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden; 
  font-family: Arial, sans-serif;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100%;
  text-align: center;
}

/* Title */
.title {
  color: white;
  font-size: 3rem;
  padding-top: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

/* Card container */
.card-container {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
