.custom-card {
    background: #1a0d2e;
    color: #eae6f8;
    border-radius: 12px;
    padding: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.custom-card:hover {
    background: #25113d;
    box-shadow: 0 4px 20px rgba(200, 150, 255, 0.4);
}

.card-title {
    font-size: 1.4rem;
    margin-bottom: 0.75rem;
    font-weight: bold;
}

.card-description {
    font-size: 1rem;
    opacity: 0.85;
}